/*Selector por nombre del elemento*/
h1 {
  color: green;
}

/*Selector por la clase del elemento, con un .por delante*/
.faltante {
  color: red;
}

/*Selector por el ID del elemento, que debe ser unico*/
#ingrediente-secreto {
  color: maroon;
}
